# Ignore log files
*.log

# Ignore compiled object files
*.o

# Ignore executables
UnitTest

# Ignore backup files
*.bak

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db

# Ignore build directories
/build/
/dist/

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore IDE specific files
.vscode/
.idea/

# Ignore Kalman.dSYM directory
Kalman.dSYM/

# Ignore TODO.md file
TODO.md